<style>
    .container{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    .container, .container a{
        text-align: center;
        padding: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .container a{
        border-radius: 7px;
    }
</style>
<div class="container mt-3 text-center">
    <a href="/course/list" class="btn btn-light mt-4">Courses</a>
    <a href="/course/add" class="btn btn-light mt-4">Add New</a>
    <a href="/course/update" class="btn btn-light mt-4">Update Course</a>
    <a href="/course/delete" class="btn btn-light mt-4">Delete Course</a>
</div>